<div>
   <ul>
      {{#each products}}
         <li>
            <strong>Title:</strong>
            {{title}}<br />
            <strong>Description:</strong>
            {{description}}<br />
            <strong>Code:</strong>
            {{code}}<br />
            <strong>Price:</strong>
            {{price}}<br />
            <strong>Stock:</strong>
            {{stock}}<br />
            <strong>Category:</strong>
            {{category}}<br />
            <strong>Thumbnails:</strong>
            {{thumbnails}}<br />
         </li>
         <br />
      {{/each}}
   </ul>
</div>