<style>
    a:visited, a:link{ color: black; } button:hover { background-color: rgb(223, 223, 223); }
</style>

<div style='display: flex; flex-direction: column; width: 100vw; align-items: center; gap:10px; margin-top: 10px'>
    <div id='myDiv' style='display: flex; flex-direction: row; flex-wrap: wrap; gap: 10px; justify-content: center'>
        {{#each result}}
            <div class='card' style='width: 18rem;'>
                <img src='/img/default.png' class='card-img-top' alt='...' />
                <div class='card-body'>
                    <a target='_blank' href='http://localhost:8080/products/{{this.id}}'>
                        <h5 class='card-title'>{{this.title}}</h5>
                    </a>
                    <p class='card-text'>{{this.description}}</p>
                </div>
                <ul class='list-group list-group-flush'>
                    <li class='list-group-item'><strong>Code:</strong> {{this.code}}</li>
                    <li class='list-group-item'><strong>Price:</strong>
                        {{this.price}}</li>
                    <li class='list-group-item'><strong>Category:</strong>
                        {{this.category}}</li>
                    <li class='list-group-item'><strong>Stock:</strong>
                        {{this.stock}}</li>
                    <li class='list-group-item'><strong>ID:</strong>
                        {{this.id}}</li>
                </ul>
                <div
                    class='card-body'
                    style='display: flex;
                flex-direction: column; justify-content: center; align-items: center; gap: 0.6rem;'
                >

                    <button
                        type='submit'
                        data-pid='{{this.id}}'
                        data-cid='{{cart}}'
                        class='add-to-cart'
                        style='display: flex; height: 2.5rem; width: 9rem; border: 1px solid black; border-radius: 0.3rem; justify-content: center; align-items: center; gap: 0.4rem;'
                    >
                        <img src='/img/cart.svg' alt='cart' />
                        <p style='margin: 0; font-weight: 500'>Add to Cart</p>
                    </button>
                    <button
                        data-pid='{{this.id}}'
                        data-cid='{{cart}}'
                        type='submit'
                        class='card-link remove-button'
                        style='display: flex; height: 2.5rem; width: 4rem; border: 1px solid black; border-radius: 0.3rem; justify-content: center; align-items: center; gap: 0.4rem; margin: 0;'
                    >🗑️</button>
                </div>
            </div>
        {{/each}}
    </div>
    <nav aria-label='Page navigation example'>
        <ul class='pagination justify-content-center'>
            {{#if pagination.hasPrevPage}}
                <li class='page-item'><a class='page-link' href='?page={{pagination.prevPage}}'>Previous</a></li>
                <li class='page-item'><a class='page-link' href='?page={{pagination.prevPage}}'>{{pagination.prevPage}}</a></li>
            {{else}}
                <li class='page-item disabled'><a class='page-link' href='?page={{pagination.prevPage}}'>Previous</a></li>
            {{/if}}
            <li class='page-item active'><a class='page-link'>{{pagination.page}}</a></li>
            {{#if pagination.hasNextPage}}
                <li class='page-item'><a class='page-link' href='?page={{pagination.nextPage}}'>{{pagination.nextPage}}</a></li>
                <li class='page-item'><a class='page-link' href='?page={{pagination.nextPage}}'>Next</a></li>
            {{else}}
                <li class='page-item disabled'><a class='page-link' href='#'>Next</a></li>
            {{/if}}
        </ul>
        <p>Products: {{pagination.totalDocs}} | Total Pages: {{pagination.totalPages}} | Page: {{pagination.page}}</p>
    </nav>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/products.js'></script>